.traffic-overview-section {
  padding: 0rem 5.5rem;
  position: relative;
  padding-bottom: 5rem;
}
.traffic-overview-heading {
  padding: 2.5rem 0rem;
  padding-bottom: 0rem;
  margin-bottom: 3rem;
  color: var(--color-primary);
  font-weight: 900;
}

.traffic-overview-section h2::before {
  content: " ";
  position: absolute;
  top: 3.3rem;
  left: 3rem;
  width: 2rem;
  height: 1px;
  border-bottom: 1px solid var(--color-primary);
}
.traffic-overview-section .note {
  color: var(--text-color);
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.graph-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.graph-buttons h4 {
  font-size: 0.78rem;
  color: var(--text-color);
  margin-bottom: 0.4rem;
  font-weight: 400;
}
.graph-buttons button {
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  border: 1px solid rgba(128, 128, 128, 0.664);
}
