.analyze-section {
  padding: 0rem 3rem;
  max-width: 85rem;
  margin: 0 auto;
}
.analyze-slogon {
  color: var(--dark-text);
  border-top: 1px solid rgb(206, 200, 200);
  padding: 2.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.analyze-slogon i {
  margin-right: 1.75rem;
}

.analyze-data-container {
  /* background-color: cadetblue; */
  display: flex;
}
.analyze-sidebar {
  /* background-color: chartreuse; */
  width: 27%;
}
.analyze-info {
  background-color: chocolate;
  /* width: 70%; */
  flex: 1;
  background-color: white;
  border: 1px solid rgb(206, 200, 200);
  border-radius: 0.5rem;
}

.analyze-sidebar h4 {
  color: var(--color-secondary);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.analyze-sidebar ul {
  list-style: none;
  /* margin-top: 1rem; */
  /* border-left: 1px solid rgb(206, 200, 200); */
}
.analyze-sidebar-list {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 900;
  position: relative;
  display: block;
  padding: 6px 0;
  padding: 1.3em 0rem;
  font-size: 14px;
  line-height: 20px;
  width: max-content;
}

.analyze-sidebar-list:hover {
  color: var(--color-primary);
}
.analyze-sidebar-list::before {
  content: "";
  width: 1px;
  background-color: cadetblue;
  height: 100%;
  background: rgba(57, 18, 84, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: -1.5rem;
  transition: all 0.2s ease-out, width 1ms;
}
.analyze-sidebar-list:hover::before {
  background-color: var(--color-primary);
  width: 2px;
}
.active-sidebar::before {
  background-color: var(--color-primary);
  width: 2px;
}
.analyze-info {
  border-radius: 0.5rem;
}
