.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  color: white;
  box-shadow: 0 6px 5px #2f004f75;
}

.navigation .hamburger {
  border: none;
  background: none;
}

/* .logo-mobile class come from svg icons file */
.logo-mobile-white {
  fill: white;
  height: 20px;
  width: 20px;
}


.logo-small-screen {
  display: none;
}

.nav-logo-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 85rem;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo a {
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 7px;
  font-weight: 900;
  transition: 0.2s;
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-logo a:hover {
  color: rgb(167, 167, 167);
}

.nav-logo a:first-child {
  /* background-color: cadetblue; */
  margin-left: 0rem;
  /* margin-top: 1rem; */
}

.nav-logo a span {
  font-weight: 300;
}

.nav-menu {
  display: flex;
  margin-top: 0.2rem;
  gap: 2rem;
  margin-left: 1.5rem;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.85rem;
  transition: all 0.3s;
  letter-spacing: 1px;
  font-weight: 600;
}

.nav-menu .nav-menu-link-black {
  color: black;
}

.nav-menu a:hover {
  color: rgb(197, 193, 193);
}

.premium {
  background-image: linear-gradient(45deg, #9600ff, #ebe833);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visited-link {
  color: var(--color-secondary);
}

.nav-btn button {
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: none;
}
.nav-btn button:first-child {
}
.nav-btn .nav-menu-link-black {
  color: #4a1172;
}

.nav-btn button:first-child:hover {
  transform: translateY(0px);
  box-shadow: none;
}

.nav-content .nav-btn button:last-child {
  /* transform: translateY(-3px); */
  /* box-shadow: 0px 5px 5px #39045f; */
}

@media only screen and (max-width: 992px) {
  .navigation {
    padding: 1.6rem 1.5rem;
  }

  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 5%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    position: fixed;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }

  .nav-active .nav-toggle {
    background: white;
  }

  .nav-active .nav-toggle .hamburger span {
    border-bottom: 2px solid var(--color-primary);
  }

  .nav-toggle .hamburger span {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid white;
    transition: all 0.3s ease-in-out;
  }

  .nav-toggle .hamburger .line1 {
    border-radius: 1px;
    width: 24px;
  }

  .nav-toggle .hamburger .line2 {
    border-radius: 1px;
    width: 12px;
  }

  .nav-active .hamburger .line1 {
    transform: translateY(3px) rotate(45deg);
    width: 15px;
  }

  .nav-active .hamburger .line2 {
    transform: translateY(-3px) rotate(-45deg);
    width: 15px;
  }

  .nav-logo-menu .nav-logo a:first-child,
  .nav-logo-menu .nav-menu {
    display: none;
  }

  .nav-logo-menu .nav-logo a:last-child {
    display: flex;
  }

  .nav-active .nav-logo-menu .nav-logo a,
  .nav-active .nav-logo-menu .nav-menu {
    display: flex;
    transition: 0.3s all ease-in-out;
  }

  .logo-small-screen {
    display: block;
  }

  .nav-active .nav-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 50;
    opacity: 0.95;
    background-color: var(--color-primary);
    transition: 0.3s all ease-in-out;
  }

  .nav-menu a {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }

  .nav-active .nav-logo {
    display: none;
  }

  .nav-active .nav-menu {
    display: flex;
  }

  .nav-active .nav-content .nav-btn {
    margin-top: 2rem;
    width: max-content;
  }

  .nav-active .nav-menu {
    flex-direction: column;
    gap: 2rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-active .nav-btn {
    display: flex;
    flex-direction: column;
  }

  .nav-active .nav-btn button {
    margin-bottom: 1rem;
  }
}