.is-site-fit-container {
  background-color: var(--background-color);
  max-width: 85rem;
  margin: 0 auto;
  padding: 3rem 7rem;
}
.is-site-fit-container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.is-site-fit-container .heading h1 {
  font-weight: 900;
  font-size: 2rem;
  margin: 1rem 0rem;
}

.is-site-fit-container .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-site-fit-container .main-content .buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.is-site-fit-container .main-content .buttons button {
  font-weight: normal;
}
.btn {
  background-color: var(--background-color);
  box-shadow: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: normal;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
  border-top: 2px solid var(--color-primary-light);
  border-bottom: 3px solid var(--color-primary-dark);
}
.main-content .cards {
  display: flex;
  margin-top: 5rem;
  gap: 1.5rem;
}
.main-content .card {
  width: 17rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 50px 110px -20px,
    rgba(0, 0, 0, 0.3) 0px 10px 10px -30px;
}
.card span {
  background-color: var(--color-primary);
  color: white;
  height: 50px;
  width: 50px;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card span p {
  margin-top: -0.1rem;
}
.card p {
  margin-top: 1.8rem;
  text-align: center;
  line-height: 1.3rem;
}

.is-site-fit-container .main-content p {
  margin-top: 2rem;
}
